<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Creator Version 1.0</title>
</head>
<style>
    .txt {
        width: 225px;
        border-radius: 25px;
    }
</style>
<body>
<center>
    <form action="/" method="post">
        <input type="text" class="txt" name="name" placeholder="Name...">
        <br>
        <br>
        <input type="text" class="txt" name="age" placeholder="Age...">
        <br>
        <br>
        <input type="text" class="txt" name="birthday" placeholder="Date of birth...">
        <br>
        <br>
        <input type="text" class="txt" name="height" placeholder="Height...">
        <br>
        <br>
        <input type="text" class="txt" name="address" placeholder="Address...">
        <br>
        <br>
        <input type="text" class="txt" name="addinfo" placeholder="Additional Info...">
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
</center>
</body>
</html>